* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url(images/bg-pattern-desktop.svg);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid blue;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 170px;
  width: 60%;
}

.right {
  margin: 0;
  padding: 0;
  width: 40%;
  border: 1px solid red;
}

.we {
  font-size: 64px;
  text-transform: uppercase;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
  letter-spacing: 8px;
}

.coming {
  text-transform: uppercase;
  color: #252525;
  font-size: 55px;
  letter-spacing: 10px;
}

.soon {
  text-transform: uppercase;
  color: #252525;
  font-size: 55px;
  letter-spacing: 10px;
  margin-top: 21px;
}

p {
  color: hsl(0, 36%, 70%);
  line-height: 1.6;
}

.bg-image {
  background-image: url("./images/hero-desktop.jpg");
  background-size: cover;
  background-position: center center;
}

.logo {
  margin-top: 62px;
  margin-bottom: 100px;
}

.bg-mobile {
  display: none;
}

form {
  margin-top: 15px;
  position: relative;
  width: 445px;
}

input {
  background-color: transparent;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  height: 55px;
  width: 100%;
}

input:focus {
  border-width: 2px;
  box-shadow: 0px 0px 10px hsla(0, 36%, 70%, 0.5);
  outline: none;
}

input::placeholder {
  color: hsl(0, 36%, 70%);
}

form.error input {
  border: 2px solid hsl(0, 93%, 68%);
}

button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.2s ease;
  height: 55px;
  width: 100px;
}

button:hover {
  opacity: 0.6;
}

.error-icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 110px;
}

form.error .error-icon {
  display: block;
}

small {
  color: hsl(0, 93%, 68%);
  display: none;
  margin-top: 15px;
  margin-left: 30px;
}

form.error small {
  display: block;
}

@media screen and (max-width: 1050px) {
  form {
    margin-top: 15px;
    position: relative;
    width: 310px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
  }

  .logo {
    margin-left: 30px;
    align-self: flex-start;
  }

  .bg-mobile {
    display: block;
    width: 100%;
  }

  .we,
  .coming,
  .soon,
  .left-paragraph {
    text-align: center;
  }
}
